.login{
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    display:grid;
    place-items: center;
}
.login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12);
}
.login__whatsapp-logo{
    object-fit: cover;
    height: 80px;
    margin-bottom: 40px;
}

.login__container > button{
    margin-top: 40px;
    background-color: #0a8d48;
    color: white;
}

.login__container > button:hover{
    background-color: #08753b;
}